/* for all  */
h1 {
  text-align: center;
  border: 10px;
  border-color: black;
}
/* index.html */
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid pink;
    border-radius: 1em;
  }

  /* #get-single-name {
  display: none; 
}
#get-double-name {
  display: none;
} */

#single:checked ~ #get-single-name {
  display: block;
}
#double:checked ~ #get-double-name {
  display: block;
}

 /* play.html */
#board{
  margin: auto;
  width: 400;
  height: 400;
  border-style: groove;
  border-color: pink;
  align-self: center;
}

.black {
  background-color: black;
 }
 .white {
  background-color: pink;
  
 }



/* stat.html */
.plot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


image {
  width: 150;
  height: 150;
}

 