<!DOCTYPE html>
<link rel = "stylesheet" href ='/static/style2.css'>

<html>
    <head>
        <title>Tic Tac Toe</title>
    </head>
    <h1> Tic Tac Toe Board, hi {{ name }}</h1>
    <body>
        <div>
            <table id = "board">
                <tr>
                    <td class="black" id = tl> </td>
                    <td class="white" id = tm> </td>
                    <td class="black" id = tr> </td>
                </tr>
                <tr>
                    <td class="white" id = ml> </td>
                    <td class="black" id = mm> </td>
                    <td class="white" id = mr> </td>
                </tr>
                <tr>
                    <td class="black" id = ll> </td>
                    <td class="white" id = lm> </td>
                    <td class="black" id = lr> </td>
                </tr>
            
            </table>
        </div>
    </body>
</html>