<!DOCTYPE html>
<link rel = "stylesheet" href ='/static/style2.css'>

<html>
    <head>
        <title>Tic Tac Toe</title>
    </head>
    <h1> Tic Tac Toe Board, hi {{ name }}</h1>
    {% if winner %}
    <div>
        <h1> Winner is {{winner}}</h1>
    </div>
    {% endif %}
    <body>
        <div>
            <table id = "board">
                {% for i in range(3) %}
                    <tr>
                        {% for j in range(3) %}
                            <td class = "grid_{{(i+j)%2}}">
                                  {% if game[i][j] %}
                                      {{ game[i][j] }}
                                  {% else %}
                                      <a href="{{ url_for('play', row=i, col = j)}}">Play {{ turn }} here.</a>
                                  {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
              </table>
        </div>
    </body>
</html>