 <!DOCTYPE html>
 <link rel = "stylesheet" href = "./static/style2.css">

<html>
  <h1>Welcom to my Tic Tac Toe</h1>

  <form action="http://localhost:5000/index" method="POST">
    <fieldset>
        <legend>Select your game mode:</legend>
    
        
          <input type="radio" id="single" name="mode" value="single">
          <label for="single">Single Mode (Against Bot)</label>
        
    
          <input type="radio" id="double" name="mode" value="double" checked>
          <label for="double">Double Mode</label>
          
          <input type = "hidden", value = "Submit">
        
    </fieldset>

  </form>

  <form id = "get-single-name" method = "post">
    <div>
      <label for="single user name">Please input name for player 1:</label>
      <input type="text" name="single user name" />
    </div>
    
    <div>
      <button type="submit"> Play </button>
    </div>
  </form>
  <!-- <form id = "get-double-name" action = "double-game-player", mode = "post">
    <div>
      <label for="user name 1">Please input name for player 1:</label>
      <input type="text" id="name1" name="user name" />
    </div>

    <div>
      <label for="user name 2">Please input name for player 2:</label>
      <input type="text" id="name2" name="user name" />
    </div>
    
    <div>
      <button type="submit">Play</button>
    </div>
  </form> -->

  <footer>
    <p>Author: Ruolu Ye</p>
    <p><a href="yeruolu@uw.edu">Contact Me</a></p>
  </footer>
</html>
  
  